body{
	margin: 0;
	font-family: Arial;
	font-size: 12px;
}
.topo{
	height: 30px;
	background-color: #303030;
}
.topoint{
	width: 100%;
	max-width:1040px; 
	height: 30px;
	margin: auto;
}

.topoleft{
	width: 50%;
	height: 30px;
	float: left;

}
.toporight{
	width: 50%;
	height: 29px;
	float: right;
	margin-top: 1px;
}
.topoleft ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.topoleft li{
	float: left;
	height: 30px;
	line-height: 30px;
	margin-left: 8px;
	margin-right: 8px;
}
.topoleft li a{
	text-decoration: none;
	color: #eaeaea;
}
.topoleft li .ativo{
	color: #0f7d98;
}
.toporight img{
	width: 25px;
	height: 25px;
	margin-right: 2px;
	margin-top: 2px;
	border-radius: 6px;
}
.toporight a{
	float: right;
}
.toporight input{
	float: right;
}
.topobusca{
	width:110px;
	height:26px;
	outline: 0;
	border-radius:4px;
}
.topo2{
	height: 96px;
}
.topo2int{
	width: 100%;
	max-width:1040px;;
	height: 96px;
	margin: auto;
}
.topo2left{
	float: left;
}
.topo2right{
	float: right;
}
.logo img{
	width:280px;
	height: 95px; 
}
.banner a img{
	width: 60%;
	float: right;
	height: 80px;
	width: 650px;
	margin-top: 8px;
	margin-right: 0px;
}
.menu{
	height: 40px;
	background-color: #d50000;
}
.menuint{
	width: 100%;
	max-width: 1040px;
	height: 40px;
	margin:auto;
}
.menu ul{
	margin: 0;
	padding: 0;
	list-style: none;
}
.menu li{
	float: left;
	height: 40px;
	line-height: 40px;
	padding-left: 8px;
	padding-right: 8px;
}
.menu li a{
	text-decoration: none;
	color: #eaeaea;

}
.menu li:hover .submenu{
	display: block;
}
.submenu{
	width: 150px;
	position: absolute;
	display: none;
	background-color: #9b0101;
}
.submenu li:hover{
	background: #FF5555;
}
.submenuitem{
	width: 140px;
	height: 40px;
	line-height: 40px;
	padding-left:10px 
}
.ultimasnoticias{
	height: 40px;
}
.ultimasnoticiasint{
	height: 40px;
	width: 100%;
	max-width: 1040px;
	margin: auto;
}
.ultnoticiasarea{
	height: 28px;
	border: 1px solid #CCC;
	margin-top: 10px;
	border-radius: 2px;
}
.ultnoticiastitulo{
	background-color: #fc0200;
	color: #FFF;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 10px;
	padding-right: 10px;
	font-size: 16px;
	border-radius: 2px;
}
.ultnoticiasnoticia{
	color: #a1a7a7;
	height: 28px;
	line-height: 28px;
	display: inline-block;
	padding-left: 5px;

}
.containerint{
	width: 100%;
	max-width: 1040;
	margin: auto;
}
.leftside{
	width: 753px;
	float: left;
}
.rightside{
	width: 275px;
	min-height: 200px;
	float: right;
	margin-left: 12px;
}
.widget{
	background-color: #FFF;
	border: 1px solid #CCC;
	margin-bottom: 10px;
}
.widget_titulo{
	height: 30px;
	line-height: 30px;
	border-bottom: 1px solid #CCC;
	background-color: #f2f2f2;
	padding-left: 5px;
	font-size: 14px;
}
.widget_conteudo{
	text-align: center;
	padding-top: 5px;
	padding-bottom: 5px;
}
.noticia_item{
	font-size: 14px;
	margin:0px 10px;
	padding: 10px 0px;
	text-align: left;
	border-bottom: 1px solid #CCC; 
}
.noticia_item a{
	text-decoration: none;
	color: black;
}
.slideshow{
	height: 340px;
	overflow: hidden;
	margin-bottom: 20px;
}
.slideshowarea{
	height: 340px;

	transition:all 1s;
}
.slide{
	height: 340px;
	float: left;
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;

}

.slideinfo{
	height: 70px;
	position: absolute;
	background-color: linear-gradient(#CCC);
	background-size: auto 70px;
	margin-top: 265px;

}
.slideinfotitulo{
	font-family: courier;
	font-size: 30px;
	color: white;
}
.slideinfosubtitulo{
	font-size: 15px;
	font-family: courier;
	color: white;
}
.slidebolinhas{
	position: absolute;
	width: 200px;
	height: 20px;
}
.bolinha{
	width: 20px;
	height: 20px;
	margin-right: 5px;
	margin-top: 5px;
	margin-left: 5px;
	float: left;
	cursor: pointer;
	border-radius: 10px;
	background-color: #CCC;
}
.noticiaarea1{
	width: 430px;
	float: left;
	height: 420px;
}
.noticiaarea2{
	width: 320px;
	height: 420px;
	float: left;
}
.noticiaimg{
	width: 80px;
	height: 80px;
	border: 1px solid #CCC;
	padding: 3px;
	float: left;

} 
.noticiatitulo{
	margin-left: 6px;
	font-size: 16px;
	width: 226px;
	float: left;
}
.noticiaitem{
	text-align: left;
	height: 88px;
	margin-top: 7px;
	margin-bottom: 7px;
}
.noticiainfo{
	width: 226px;
	font-size: 12px;
	margin-left: 6px;
	color: #999;
	float: left;
}

.noticiabig .noticiaimg{
	width: 384px;
	height: 222px;
}
.noticiabig .noticiaimg img{
	width: 384px;
	height: 222px;
}
.noticiabig .noticiatitulo{
	font-size: 30px;
	width: 384px;
}
@media only screen and (max-width: 1057px){
	.topoint ,
	.topo2int ,
	.menuint , 
	.ultimasnoticiasint , 
	.containerint {
		max-width: 890px;
	}

	.leftside{
		width: 600px;
	}
	.noticiaarea1{
		width: 278px;
	}
	.noticiabig .noticiaimg{
		width: 245px;
	}
	.noticiabig .noticiaimg img{
		width: 245px;
	}
	.noticiabig .noticiatitulo{
		width: 245px;
		font-size: 25px;
	}
}
@media only screen and (min-width: 906px) and (max-width: 1057px){
	.topoint ,
	.topo2int ,
	.menuint , 
	.ultimasnoticiasint , 
	.containerint {
		max-width: 768px;
	}
	.topo2 .banner{
		display: none;
	}
	.logo{
		float: none;
		margin: auto;
	}
	.rightside {
		display: none;
	}

	.leftside{
		width: auto;
		float: none;
	}
	.noticiaarea1{
		width: 446px;
	}
	.noticiabig .noticiaimg{
		width: 415px;
	}
	.noticiabig .noticiaimg img{
		width: 415px;
	}
	.noticiabig .noticiatitulo{
		width: 415px;
		font-size: 25px;
	}
}
@media only screen and (min-width:783px) and (max-width: 906px){
	.topoint ,
	.topo2int ,
	.menuint , 
	.ultimasnoticiasint , 
	.containerint {
		max-width: 768px;
	}
	.topo2 .banner{
		display: none;
	}
	.logo{
		float: none;
		margin: auto;
	}
	.rightside {
		display: none;
	}

	.leftside{
		width: auto;
		float: none;
	}
	.noticiaarea1{
		width: 446px;
	}
	.noticiabig .noticiaimg{
		width: 415px;
	}
	.noticiabig .noticiaimg img{
		width: 415px;
	}
	.noticiabig .noticiatitulo{
		width: 415px;
		font-size: 25px;
	}


}
@media only screen and (max-width: 783px){
	.topoint ,
	.topo2int ,
	.menuint , 
	.ultimasnoticiasint , 
	.containerint {
		max-width: 320px;
	}
	.topoleft{
		display: none;
	}
	.toporight{
		width: 100%;
	}
	.topo2 .banner{
		display: none;
	}
	.logo{
		float: none;
		margin: auto;
	}
	.menu ul{
		position: absolute;
		background-color: red;
		z-index: 10;
		display: none;
		float: none;
	}
	.menu li{
		float: none;
		height: auto;
	}
	.menu li img{
		display: none;
	}
	.submenu{
		position: static;
		display: block;
	}
	.rightside {
		display: none;
	}
	.ultimasnoticias{
		display: none;
	}
	.leftside{
		width: auto;
		float: none;
		margin-top: 10px;
	}
	.noticiaarea1{
		width: 320px;
		height: auto;
	}
	.noticiaarea2{
		width: 300px;
		margin: auto;
		float: none;
		clear: both;
		padding-top: 20px;
	}
	.noticiabig .noticiaimg{
		width: 290px;
	}
	.noticiabig .noticiaimg img{
		width: 290px;
	}
	.noticiabig .noticiatitulo{
		width: 290px;
		font-size: 25px;
	}
	.noticiatitulo{
		width: 206px;
	}
	.noticiainfo{
		width: 206px;
	}
	.noticiaitem{
		clear: both;
	}
	.menumobile{
		display: none;
	}
}